In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
np.__version__

'2.0.2'

In [6]:
pd.__version__

'2.2.2'

Creating Series from list

In [13]:
s1=pd.Series([1,2,4],index=['a','b','c'])
print(s1)

a    1
b    2
c    4
dtype: int64

Series Creation with Custom labels

In [14]:
s2=pd.Series([4,5,6], index= ['messi', 'sergio', 'Ranaldo'])
print(s2)

messi      4
sergio     5
Ranaldo    6
dtype: int64

Created Series from Dictionary

In [15]:
x =pd.Series({'a':3, 'b':4, 'c':9})
print(x)

a    3
b    4
c    9
dtype: int64

In [16]:
type(x)

pandas.core.series.Series

In [17]:
x_data={'a':3,'b':4,'c':9}
y=pd.Series(x)
print(x)

a    3
b    4
c    9
dtype: int64

Series with mixed Data Types

In [18]:
mixed_data=['Sergio_Ramos', 4,5,3.0,True]
new_Series=pd.Series(mixed_data)
print(new_Series)

0    Sergio_Ramos
1               4
2               5
3             3.0
4            True
dtype: object

# Series from a scalar value repeated

In [20]:
scaler_value1=pd.Series(5,index=['a','b','c'])
print(scaler_value1)

a    5
b    5
c    5
dtype: int64

# Creation of Series

In [21]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [23]:
print(list(range(3,10)))

[3, 4, 5, 6, 7, 8, 9]

#  Series from a range of numbers

In [24]:
x =list(range(4,10))
x_update=pd.Series(x)
print(x_update)

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

# Series from list

In [25]:
list1=list(range(100))
list2=pd.Series(list1)
print(list2)

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

# Series from Numpy array

In [27]:
list1=np.array([1,2,4,5])
list2=pd.Series(list1)
print(list2)

0    1
1    2
2    4
3    5
dtype: int64

#  Series with index passed explicitly

In [38]:
list2=["Ali","Ahmad","Zaki"]
index1=['a','b','c']
list3=pd.Series(list2,index=index1)
print(list3)

a      Ali
b    Ahmad
c     Zaki
dtype: object

In [39]:
lista=["Sadiq", "Zaki"]
index=['a','b']
new_list=pd.Series(lista,index=index)
print(new_list)

a    Sadiq
b     Zaki
dtype: object

#  Series from a dictionary (automatically indexed)

In [41]:
dic_1={'a':3, 'b':9, 'c':8}
dic_2=pd.Series(dic_1)
print(dic_2)

a    3
b    9
c    8
dtype: int64