In [ ]:
#Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
import pandas as pd
x =([1,2,3,5])
pd.Series(x)

0    1
1    2
2    3
3    5
dtype: int64

In [3]:
#Write a Pandas program to convert a Panda module Series to Python list and it's type.
import pandas as pd
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

In [4]:
#Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

x =pd.Series([3,4,5])
y =pd.Series([4,5,4])
z=pd.Series(x-y)

In [5]:
print(z)

0   -1
1   -1
2    1
dtype: int64

In [6]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
x= pd.Series([1,2,3])
y =pd.Series([8,3,4])
z=x+y

In [8]:
z

0    9
1    5
2    7
dtype: int64

In [9]:
z= x-y
print(z)

0   -7
1   -1
2   -1
dtype: int64

In [10]:
z= x*y
z

0     8
1     6
2    12
dtype: int64

Write a Pandas program to compare the elements of the two Pandas Series.

In [11]:
x =pd.Series([3,4,5])
y =pd.Series([8,3,4])
print(x)
print(y)

0    3
1    4
2    5
dtype: int64
0    8
1    3
2    4
dtype: int64

In [12]:
print(x>y)

0    False
1     True
2     True
dtype: bool

In [14]:
print(x==y)

0    False
1    False
2    False
dtype: bool

In [15]:
print(x<y)

0     True
1    False
2    False
dtype: bool

Write a Pandas program to convert a dictionary to a Pandas series.

In [22]:
x ={'a':3,'b':4}
print(x)

{'a': 3, 'b': 4}

In [24]:
print(type(x))

<class 'dict'>

In [26]:
y=pd.Series(x)
print(y)

a    3
b    4
dtype: int64

In [28]:
print(type(y))

<class 'pandas.core.series.Series'>

Write a Pandas program to convert a NumPy array to a Pandas series.

In [30]:
import numpy as np
x= np.array([2,3,4])
print(x)
type(x)

[2 3 4]

numpy.ndarray

In [31]:
#Conversion into Pandas Series
y =pd.Series(x)
print(y)
type(y)

0    2
1    3
2    4
dtype: int64

pandas.core.series.Series

Write a Pandas program to change the data type of given a column or a Series. Data analysis tool

In [37]:
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(s1)


s2 = numeric(pd.Series(s1))
print(s2)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

NameError: name 'numeric' is not defined